<div class='navbar-fixed override-nav-box-shadow'>
  <nav class='override-nav z-depth-0'>
    <div class="nav-wrapper">
      <i class="fa fa-angle-double-left brand-logo override-brand-logo left override-icons" id="trigger-back" aria-hidden="true"></i>
      <div class='brand-logo center override-brand-logo-center' id="home">
        <i class="fa fa-suitcase center override-icons" aria-hidden="true"></i>
        CV
      </div>
      <ul id="nav-mobile" class="right filters">
        <li><i class="fa fa-laptop tooltipped" aria-hidden="true" data-position='bottom' id="product" data-delay="10" data-tooltip="Filter by Product Experience"></i></li>
        <li><i class="fa fa-university tooltipped" aria-hidden="true" data-position='bottom' id="teaching" data-delay="10" data-tooltip="Filter by Teaching Experience"></i><li>
        <li><i class="fa fa-graduation-cap tooltipped" aria-hidden="true" data-position='bottom' data-delay="10" id="education" data-tooltip="Filter by Education"></i><li>
      </ul>
    </div>
  </nav>
</div>

<div class='row'>
  <div class="col s12 m12 l12 justify-content all">
    <div class="content-header" style='margin-top:5px !important;'>
      <h5>Experience</h5>
      <hr>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content product hidden">
    <div class="content-header product-header" style='margin-top:5px !important;'>
      <h5>Product Experience</h5>
      <hr>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content product">
    <div class="card-job" id="dash">
      <div class="job-title" style="margin-bottom: 5px;">
        <h4>Product Manager, Platform • Dash Core Group
        </h4>
        <h6>Los Angeles, CA • May 2018 - Present</h6>
        <p>Managing the development of Dash Platform, a technology stack allowing for the storage and securitization of application data on the Dash p2p network. The initial components of the stack include a decentralized API, storage, and name service, as well as a client SDK and developer hub.</p>
      </div>
      <ul style="margin-top: 5px;">
        <li><%= image_tag 'dash.png', class: 'logo-job' %></li>
      </ul>
      <hr>
      <div class="job-details">
        <h5>Media</h5>
        <ul>
          <li>• <%= link_to 'An Introduction to Dash Platform, DAPI, and Drive', 'https://blog.dash.org/an-introduction-to-dash-platform-dapi-and-drive-9d080d6e89c9', target: '_blank' %></li>
          <li>• <%= link_to 'Dash Platform Presentation, Dash Convention Zurich (September 2019)', 'https://www.youtube.com/watch?v=5Q1cCt9v1U0', target: '_blank' %></li>
          <li>• <%= link_to 'Dash Platform Presentation, Dash News Podcast (October 2019)', 'https://www.youtube.com/watch?v=vK9SWDEZfiM', target: '_blank' %></li>
        </ul>
      </div>
      <div class='container-btn'>
        <i class="fa fa-angle-double-down btn-expand" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content product">
    <div class="card-job">
      <div class="job-title" style="margin-bottom: 5px;">
        <h4>Founder, Product Management Consultant • Future Cities
        </h4>
        <h6>Los Angeles, CA • Jan 2016 - Present</h6>
        <p>Founded a consultancy catering to organizations seeking product management services and training. To date, my work has included a social media management platform, an online dating app for iOS, an architectural design plugin for SketchUp, and workflow tools for YouTube multi-channel networks.</p>
      </div>
      <ul style="margin-top: 5px;">
        <li><%= image_tag 'futurecities.png', class: 'logo-job', style: 'width: 55px;' %></li>
      </ul>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content product">
    <div class="card-job">
      <div class="job-title" style="margin-bottom: 5px;">
        <h4>Product Manager • Originate</h4>
        <h6>Los Angeles, CA • Jun 2017 - Jan 2018</h6>
        <p>Managed a team of 4 Android engineers, 4 iOS engineers, 3 QA resources, and 2 designers while developing National Geographic's mobile app for Australia. I was responsible for defining feature requirements, managing stakeholders, guiding product design, and managing development sprints.</p>
      </div>
      <ul style="margin-top: 5px;">
        <li><%= image_tag 'originate.png', class: 'logo-job', style: 'width: 55px;' %></li>
      </ul>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content teaching hidden">
    <div class="content-header product-header" style='margin-top:5px !important;'>
      <h5>Teaching Experience</h5>
      <hr>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content teaching">
    <div class="card-job" id='ps'>
      <div class="job-title">
        <h4>Lead Product Management Instructor • Product School
        </h4>
        <h6>Santa Monica, CA • Nov 2016 - July 2018</h6>
        <p>I've taught four 8 week, part-time product management courses for aspiring and seasoned PMs, as well as a week long corporate intensive course on-site in Austin, Texas.</p>
      </div>
      <%= image_tag 'ps.jpg', class: 'logo-job' %>
      <hr>
      <div class="job-details">
        <h5>Accomplishments</h5>
        <ul>
          <li>• <%= link_to 'Student Reviews of My Courses', 'https://www.yelp.com/biz/product-school-santa-monica-santa-monica-4?q=dana', target: '_blank' %></li>
        </ul>
      </div>
      <div class='container-btn'>
        <i class="fa fa-angle-double-down btn-expand" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <!-- <div class="col s12 m12 l12 justify-content teaching">
    <div class="card-job" id='calarts'>
      <div class="job-title">
        <h4>Instructor, Product Management • CalArts
        </h4>
        <h6>Santa Clarita, CA • Jan 2017</h6>
        <p>Invited to teach several product management workshops as part of CalArt's H.I.V.E. (Hybrid Incubator for Visionary Entrepreneurs) initiative. My lectures focused on Customer Development, Product / Market Fit, Product Validation, and more.</p>
      </div>
      <%= image_tag 'calarts.jpg', class: 'logo-job' %>
      <hr>
      <div class="job-details">
        <h5>Media</h5>
        <ul>
          <li>• <%= link_to 'H.I.V.E. Instructor Profile', 'http://hive.calarts.edu/organizer/dana-alibrandi/', target: '_blank' %></li>
        </ul>
      </div>
      <div class='container-btn'>
        <i class="fa fa-angle-double-down btn-expand" aria-hidden="true"></i>
      </div>
    </div>
  </div> -->
  <div class="col s12 m12 l12 justify-content teaching">
    <div class="card-job" id='ga'>
      <div class="job-title">
        <h4>Instructor, Product Management • General Assembly
        </h4>
        <h6>Santa Monica, CA • Jan 2016 - Dec 2016</h6>
        <p>Taught numerous product management courses, including one 10 week, full-time course as well as one 10 week, part-time course. I was also the Product Management instructor for GA's University Tech Intensive, a product crash course for artists at CalArts.</p>
      </div>
      <%= image_tag 'ga.jpg', class: 'logo-job' %>
      <hr>
      <div class="job-details">
        <h5>Accomplishments</h5>
        <ul>
          <li>• 90% of former full-time students are currently employed as product managers in LA.</li>
          <li>• Achieved a 78 NPS score for quality of instruction in part-time course.</li>
          <li>• First full-time course to receive a 100 NPS score in the Los Angeles market.</li>
        </ul>
      </div>
      <div class='container-btn'>
        <i class="fa fa-angle-double-down btn-expand" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content product">
    <div class="card-job" id='fullscreen'>
      <div class="job-title">
        <h4>Product Manager • Fullscreen Media
        </h4>
        <h6>Playa Vista, CA • July 2014 - Oct 2015</h6>
        <p>Led a cross-functional team of designers, engineers, and marketers to deliver meaningful product releases around streaming video, rights management, and influencer marketing.</p>
      </div>
      <%= image_tag 'fullscreen.png', class: 'logo-job' %>
      <hr>
      <div class="job-details">
        <h5>Accomplishments</h5>
        <ul>
          <li>• Product solutions boosted amount of monetized video content by 140%.</li>
          <li>• Generated incremental product revenues of $100,000 in first 6 months of operation.</li>
          <li>• Saved 232 weeks of manpower after 2 months of operation and a month long sprint.</li>
        </ul>
      </div>
      <div class='container-btn'>
        <i class="fa fa-angle-double-down btn-expand" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content product" style="margin-bottom: 15px;">
    <div class="card-job" id='zefr'>
      <div class="job-title">
        <h4>Associate Product Manager • ZEFR
        </h4>
        <h6>Venice, CA • June 2012 - April 2014</h6>
        <p>Owned product management functions related to user acceptance testing, feedback analysis, and requirements gathering for ZEFR's digital rights management (DRM) service.</p>
      </div>
      <%= image_tag 'zefr.jpg', class: 'logo-job' %>
      <hr>
      <div class="job-details">
        <h5>Accomplishments</h5>
        <ul>
          <li>• Grew monthly DRM optimization revenue by 23%.</li>
          <li>• Boosted optimization team’s monthly productivity by 76%.</li>
        </ul>
      </div>
      <div class='container-btn'>
        <i class="fa fa-angle-double-down btn-expand" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content education" style='margin-top:5px'>
    <div class="content-header">
      <h5>Education</h5>
      <hr>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content education">
    <div class="card-job" id='lewagon'>
      <div class="job-title">
        <h4>Web Development • Le Wagon</h4>
        <h6>Feb 2017 - May 2017</h6>
      </div>
      <%= image_tag 'lewagon.png', class: 'logo-job' %>
      <!-- <hr> -->
      <!-- <div class="job-details">
        <h5>Media</h5>
          <ul>
            <li>• <%= link_to "Final Project Presentations (April 28, 2017)", 'https://www.youtube.com/watch?v=Uez3x8lbUcY&feature=youtu.be&t=24m7s' %></li>
            <li>• <%= link_to "Wagon Talk w/ Caterina Rizzi, Co-Founder of Breather (April 5, 2017)", 'https://www.facebook.com/lewagonmontreal/videos/1715906498436505/' %></li>
            <li>• <%= link_to "Wagon Talk w/ Sylvain Carle, General Manager of FounderFuel (April 12, 2017)", 'https://www.facebook.com/lewagonmontreal/videos/1726023184091503/' %></li>
          </ul>
      </div> -->
      <!-- <div class='container-btn'>
        <i class="fa fa-angle-double-down btn-expand" aria-hidden="true"></i>
      </div> -->
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content education">
    <div class="card-job" id='zefr'>
      <div class="job-title">
        <h4>Certified ScrumMaster • Scrum Alliance
        </h4>
        <h6>July 2015 - July 2017</h6>
      </div>
      <%= image_tag 'scrum.png', class: 'logo-job csm-fix' %>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content education">
    <div class="card-job" id='zefr'>
      <div class="job-title">
        <h4>University of North Carolina at Chapel Hill
        </h4>
        <h6>B.A. Philosophy</h6>
      </div>
      <%= image_tag 'unc.jpg', class: 'logo-job' %>
    </div>
  </div>
  <div class="col s12 m12 l12 justify-content end" style="margin-top:20px;">
    <div class="content-header final-header">
      <hr>
      <h5 style="margin-right:0px;"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></h5>
      <hr>
    </div>
  </div>
</div>

<script>
  $('#trigger-back').click(function() {
    $('.user').addClass('offset-l1');
    $('.content-base').addClass('hidden');
    $('.content-container').removeClass('hidden');
  });

  function expandCard(id) {
   $(id + ' > .container-btn > .btn-expand').click(function() {
      var btnClass = $(id + ' > .container-btn > i').attr('class').includes('up');
      if(btnClass) {
        $(id + ' > hr').css('display', 'none');
        $(id + ' > .job-details').css('display', 'none');
        $(id + ' > .card-job').css('height', 'auto');
        $(id + ' > .container-btn > .btn-expand').css('transform', 'rotate(0deg)');
        $(this).removeClass('up');
      } else {
        $(id + ' > hr').css('display', 'initial');
        $(id + ' > .container-btn > .btn-expand').css('transform', 'rotate(180deg)');
        $(id + ' > .job-details').css('display', 'initial');
        $(id + ' > .card-job').css('height', 'auto');
        $(this).addClass('up');
      }
    })
  };

  expandCard('#dash');
  expandCard('#ga');
  expandCard('#ps');
  expandCard('#calarts');
  expandCard('#zefr');
  expandCard('#fullscreen');

  function filterExp(id) {
    var content = $('.row > .justify-content');
    $('#' + id).click(function() {
      content.each(function(item) {
        if ($(this).attr('class').includes(id) != true) {
          $(this).addClass('hidden');
        } else {
          $(this).removeClass('hidden');
        }
      });
      $('.row > .end').removeClass('hidden');
    });
  }

  filterExp('education');
  filterExp('product');
  filterExp('teaching');

  $('.tooltipped').tooltip({delay: 150});


</script>
